/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--Main structural styling --*/

body {
  background: #f7f7f7;
  color: #333333;
  font-family: mrs-eaves, serif;
}

section, header, footer {
      Width: 80%;
      max-width: 700px;
      margin: auto; 
      padding: 0;
}

section {
  margin-bottom: 4rem
}

.dark {background: #760071;
  margin: 0;
padding: 2em 0}

.light {
  background: #FFE9C4;
  padding: 3rem
}

.gridimage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

   /*--styling typography--*/

   h1, h2, blockquote {
             color: #760071;
   }

   p, blockquote {
       margin-bottom: 1.5rem;
      line-height: 1.4
}


h1 {
  font-size: 5.653rem;
  margin-top: 1rem
}

h2 {
  color: #000;
  font-size: 1.999rem;
  margin: 3em 0 1em 0;
}

h1, h2 {
  color: #760071;
}

p {
  color: #333;
  padding: 1em 0;
  line-height: 1.4;
}

blockquote {
  font-size: 1.414rem;
  font-style: italic;
  color: #760071;
  hanging-punctuation: first;
  text-indent: -0.75rem
}

cite {
  font-size: 0.8em:
  color: #333333
  font-style: normal;
}

header h1 {
  color: #f7f7f7;
}

header p {
  color: #f7f7f7;
}

p
{color: #333}

h2 {
  color: #000;}

header h2 {
  font-size: 2.827rem;
  font-style: italic;
  margin-top: 0;
  color: #f7f7f7
}

header p {
  padding-bottom: 4rem;
  font-size: 1.3rem
}

/*--Styling links --*/
a {
  color: #760071;
  text-decoration: none
}

a:hover {
  color: cadetblue;
  border-bottom: 1px dotted;
}

/*--Styling nav --*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin 0;
  width: 100%;
  background: #4f014c;
  padding: 2em 0;
  font-size: 0.75rem;
}

nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px
}

nav ul li {
  display: inline;
  margin: 20px
}

nav a {
  color: #f7f7f7;
}

nav a:hover {
  border-bottom: none;
  color: #fc8ebf;
  transition: all 0.3s ease-in-out
}

hr {
  margin: 100px 0;
  height: 1px;
  background-color: #4f014c;
  color: #4f014c;
  border: 0 none;
}

img {
  display: block;
  margin: 4em 0;
  padding: 0;
  max-width: 100%;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  margin: 4em 0 3em 0
}
